@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Interview Evaluation Project</h1>
    <p class="lead">Listed below are several issues that exist in this project. Fix as much as you can under the sections relevent to your experience to demonstrate your development skills.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>JavaScript</h2>
        <ul>
            <li>Add search functionality to Views > Users > List.cshtml page using AJAX.</li>
            <li>Update the view dynamically using JQuery.</li>
            <li>Add relevent JavaScript to Scripts > Users > List.js.</li>
            <li>Do not reload or redirect page.</li>
            <li>The method for the search functionality has already been coded. Find it at UsersController > Search.</li>
        </ul>
        <p><a class="btn btn-default" href="https://www.w3schools.com/jquery/ajax_ajax.asp" target="_blank">JQuery AJAX Documentation &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Data Management</h2>
        <ul>
            <li>Add ability to change a user password.</li>
            <li>Add ability to change a user's role between User and Admin.</li>
            <li>Add relevent changes in Controllers > UsersController.cs.</li>
            <li>Add an attribute for image data and bio text to the AspNetUser entity in EntityModels > Database.edmx.</li>
            <li>Generate the SQL file and create the database from the EntityModel</li>
        </ul>
        <p><a class="btn btn-default" href="http://codesamplez.com/database/insert-update-delete-linq-to-sql" target="_blank">LINQ Documentation &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Front End</h2>
        <ul>
            <li>Create a public Users page. <a href="https://www.cco.purdue.edu/FacultyAndStaff/MeetTheStaff">Example</a>. Use your own style!</li>
            <li>Create a public User Profile page. <a href="https://www.cco.purdue.edu/FacultyAndStaff/Staff/TimLuzader">Example</a>. Be creative!</li>
            <li>Add relevent changes in the pages Users > Users.cshtml and Users > User.cshtml</li>
            <li>All the data needed is located in the appropriate model for each page, which is already on the view.</li>
        </ul>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor" target="_blank">Razor Documentation &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Back End</h2>
        <ul>
            <li>Add paging functionality to the Views > Users > List.cshtml page.</li>
            <li>Add sorting functionality to each column on the Views > Users > List.cshtml page.</li>
            <li>Add relevent changes in Controllers > UsersController.cs.</li>
        </ul>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application" target="_blank">Sorting and Paging Documentation &raquo;</a></p>
    </div>
</div>